.container{
    margin: 20px ;
    padding: 30px;
    border: solid 1px $white;
    border-radius:5px ;
    background-color: darken($color : $dark, $amount:10);
    box-shadow: 1px 1px 14px $white ;
}